body {
  font-family: Arial, sans-serif;
}

li {
  margin-bottom: 2em;
}

li li {
  margin-bottom: 1em;
}

code {
  font-size: 150%;
}

pre code {
  font-size: 100%;
}

.line-highlight::before, .line-highlight[data-end]::after {
  display: none;
}
