body {
  font-family: Arial, sans-serif;
}

li {
  margin-bottom: 2em;
}

li li {
  margin-bottom: 1em;
}

code {
  font-size: 150%;
  font-weight: bold;
}

pre code {
  font-size: 100%;
  font-weight: normal;
}

.line-highlight::before, .line-highlight[data-end]::after {
  display: none;
}

img {
  border: 0.1em solid black;
  width: 640px;
  max-width: 100%;
  display: block;
}
